{% extends "bootstrap/base.html" %}
{% block title %}TIAD 2015{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Incroyable!</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Hello, COW!</h1>
            <p> Venenatis. Etiam at leo. Vivamus vitae sem. Mauris volutpat
            congue risus. Curabitur leo. Aenean tempor tortor eget ligula.
            Aenean vel augue. Vestibulum ac justo. In hac habitasse platea
            dictumst. Nam dignissim nisi non mauris. Donec et tortor. Morbi
            felis. Donec aliquet, erat eu ultrices tincidunt, lorem mi sagittis
            lectus, ut feugiat pede lacus quis sapien. Suspendisse porta, felis
            a fermentum interdum, dui nisl sodales felis, ut fermentum sapien
            nibh eu nunc.
            </p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>
{% endblock %}
